ion-button {
  text-transform: unset;
}

.wrapper-sign-in-logo {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  > .logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  > h1 {
    text-align: center;
  }
}

.wrapper-forgot-password {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0px;
}

.wrapper-sign-in-up {
  display: flex;
  justify-content: space-evenly;
  ion-button {
    border-radius: 5px;
  }
}

.wrapper-sign-in-with {
  margin: 5px;
  display: flex;
  flex-direction: column;

  > ion-label {
    margin-bottom: 15px;
  }

  > .options {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
}

.wrapper-terms {
  position: fixed;
  left: 0;
  bottom: 10px;
  right: 0;
  > ion-button {
    text-decoration-line: underline;
  }
}
