<ion-content class="ion-padding">
  <form>
    <div class="wrapper-sign-in-logo">
      <div class="logo-wrapper">
        <ion-avatar>
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-avatar>
      </div>

      <h1>Sign In</h1>
    </div>

    <div class="input-group">
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
    </div>

    <div class="wrapper-forgot-password">
      <ion-button size="small" fill="clear"> forgot password? </ion-button>
    </div>

    <div class="wrapper-sign-in-with">
      <ion-label class="ion-text-center">Sign In with</ion-label>
      <div class="options">
        <ion-button fill="clear">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div class="wrapper-sign-in-up">
      <ion-button expand="block" fill="outline" shape="round"
        >Sign Up</ion-button
      >
      <ion-button type="submit" expand="block" shape="round" (click)="login()"
        >Sign In</ion-button
      >
    </div>

    <div class="wrapper-terms">
      <ion-button size="small" fill="clear" expand="block">
        Terms and conditions
      </ion-button>
    </div>
  </form>
</ion-content>
